extends layout

block content
  h2(class='text-4xl text-red-900') Add new guitar
  form(method='POST' action='')
    div(class='flex flex-col my-4')
      label(for='name' class='text-2xl my-2') Name:
      input#name(class='p-2 rounded-md md:w-1/3 border-red-900 border-2' type='text', placeholder='Name of guitar' name='name' value=(undefined===guitar ? '' : guitar.name))
    div(class='flex flex-col my-4')
      label(for='desc' class='text-2xl my-2') Description:
      textarea#desc(class='p-2 rounded-md md:w-1/3 border-red-900 border-2' type='text', placeholder='description of guitar' name='desc')
        if(guitar)
         | #{guitar.desc}
    div(class='flex flex-col my-4')
      label(for='price' class='text-2xl my-2') Price:
      input#price(class='p-2 rounded-md md:w-1/3 border-red-900 border-2' type='number', placeholder='guitar price' name='price' value=(undefined===guitar ? '' : guitar.price))
    div(class='flex flex-col my-4')
      label(for='inStock' class='text-2xl my-2') inStock:
      input#inStock(class='p-2 rounded-md md:w-1/3 border-red-900 border-2' type='number' placeholder='inStock number' name='inStock'  value=(undefined===guitar ? '': guitar.inStock))
      div.form-group
    div(class='flex flex-col my-4')
      label(for='category' class='text-2xl my-2') Category:
      select#category(class='p-2 bg-white rounded-md md:w-1/3 border-red-900 border-2' type='select' placeholder='Select category' name='category' )
        for category in data.categories
          if (guitar)
            option(
              value=category._id 
              selected=(category.name === guitar.category.name) ? 'selected' : false
            ) #{category.name}
          else
            option(value=category._id) #{category.name}
    div(class='flex flex-col my-4')
      label(for='category' class='text-2xl my-2') Producer:
      select#producer(class='p-2 bg-white rounded-md md:w-1/3 border-red-900 border-2' type='select' placeholder='Select producer' name='producer')
        for producer in data.producers
          if (guitar)
            option(
              value=producer._id 
              selected=(producer.name === guitar.producer.name) ? 'selected' : false
            ) #{producer.name}
          else
            option(value=producer._id) #{producer.name}
    button(type='submit' class='my-4 p-4 bg-red-50 text-red-900 border-red-900 rounded-md border-2 hover:bg-red-600 hover:text-red-50 transform duration-500') Submit

  if errors
    ul
      for error in errors
        li!= error.msg